@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    overflow: auto;
    height: 3000px;
}

/* Cabeçalho */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    position: fixed;
    width: 100%;
    transition: 1s;
}

.searchDiv {
    width: 260px;
}

.searchBox {
    display: flex;
    align-items: center;
    width: 40px;
    margin-left: 15px;
    border-radius: 50px;
    transition: .5s;
}

.searchBox img {
    margin: 10px 5px 5px 5px;
    width: 20px;
    padding: 0 6px;
}

.searchBox input {
    border: none;
    height: 25px;
    width: 0px;
    margin-right: 5px;
    font-size: 15px;
    background: transparent;
    transition: .5s;
    outline: none;
}

.searchBtn {
    border-radius: 50px;
}

.searchBox:hover {
    background: rgb(236, 236, 236);
    width: 250px;
}

.searchBox:hover > input {
    width: 250px;
}

.searchBox:hover > .searchBtn {
    background: rgb(189, 189, 189);
}

.logo img {
    width: 200px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 15px;
}

.tenis span a {
    padding: 20px 12px;
}

.tenis:hover > header {
    background: white;
}

.tenis:hover > .sneakers,
.sneakers:hover {
    display: flex;
    border-top: 2px solid rgb(224, 224, 224);
    border-bottom: 2px solid rgb(224, 224, 224);
}

.sneakers {
    display: none;
    position: absolute;
    background: white;
    width: 100%;
    top: 58px;
    left: 0;
    animation-duration: 1s;
    animation-name: fadein;
}

.jordanC,
#yeezy,
#nike,
#adidas,
#newbalance,
#others {
    display: none;
}

.jordan:hover > .secondary,
.jordan:hover > .third,
.jordan:hover > #jordan {
    display: block;
}

.primary {
    width: 300px;
    animation-duration: 1s;
    animation-name: fadein;
}

.secondary {
    display: none;
    width: 500px;
    border-left: 2px solid rgb(224, 224, 224);
    animation-duration: 1s;
    animation-name: fadein;
}

.secondary ul {
    animation-duration: 1s;
    animation-name: fadein;
}

.third ul{
    display: none;
    animation-duration: 1s;
    animation-name: fadein;
}

.account:hover > .account2 {
    display: flex;
}

#account {
    padding: 12px;
}

.account2 {
    display: none;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    width: 130px;
    position: absolute;
    top: 50px;
    right: 15px;
    animation-duration: 1.25s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.account .account2 a {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover {
    color: rgb(179, 179, 179);
}

ul li {
    list-style: none;
    padding: 12px;
}

li:hover {
    cursor: pointer;
}